@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white;
}
@keyframes zoomSlow {
  0% { transform: scale(1); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}
.animate-zoomSlow {
  animation: zoomSlow 30s ease-in-out infinite;
}